[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pyyaml = "*"
ormar = {extras = ["orjson"], version = "*"}
python-multipart = "*"
argon2-cffi = "*"
email-validator = "*"
uvicorn = {extras = ["standard"], version = "*"}
alembic = "*"
asyncpg = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
psycopg2 = "*"
async-lru = "*"

[dev-packages]
pytest = "*"
httpx = "*"
pytest-env = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "uvicorn src.main:app --reload"
test = "pytest -c tests/pytest.ini"
