[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pyyaml = "*"
ormar = {extras = ["orjson", "sqlite"], version = "*"}
fastapi-pagination = "*"
python-multipart = "*"
argon2-cffi = "*"
email-validator = "*"

[dev-packages]
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"
httpx = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "uvicorn src.main:app --reload"
test = "pytest"
